<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page </title>

    {{!-- linking css  --}}
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    {{!-- this is our header of our website  --}}
    <div class="main_headers">
        {{>header}}
    </div>

    {{!-- this is the main sections of our websites --}}

</body>
</html>